.dropdown {
    width: 16em;
    position: relative;
}

.dropdown__btn {
    height: 1.5rem;
    padding: 1px 10px;
    border: solid 1px black;
    border-radius: 4px;
    user-select: none;
    display: flex;
    align-items: center;  
    justify-content: space-between; 
}

.dropdown__btn-icon {
    width: 0.75rem;
    margin-top: 4px;
}

.dropdown__option-icon{
    width: 1.2em;
    margin-right: 15px;
}

.dropdown__options {
    position: absolute;
    top: 28px;
    width: 100%;
    box-shadow: 0.6px 2.5px 4px 0.01px rgba(0, 0, 0, 0.12);
    z-index: 1;
    background: #fff;
    user-select: none;
}

.dropdown__option {
    padding: 10px;
    display: flex;
}

@media (any-pointer: fine) {
    .dropdown__option:hover {
        background: #fcfcfc;
    }
    .dropdown__option, .dropdown__btn{
        cursor: pointer;
    }
}

.dropdown__option:active {
    background: #fcfcfc;
}

@media (max-width: 600px){
    .dropdown{
        width: 10rem;
    }
}