.dropdown {
    width: 16em;
    position: relative;
    color: var(--text-primary);
}

.dropdown__btn {
    height: 1.5rem;
    padding: 1px 10px;
    border: solid 1px var(--border);
    background-color: var(--dropdown-card);
    border-radius: 4px;
    user-select: none;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    /* transition: all 0.3s ease-in-out; */
}

.dropdown__btn-icon {
    font-size: 1.1rem;
    margin-top: 2px;
    color: var(--text-primary);
}

.dropdown__option-icon{
    width: 1.2em;
    margin-right: 15px;
}

.dropdown__options {
    position: absolute;
    top: 28px;
    width: 100%;
    box-shadow: 0.08px 0.5px 3px 0.01px var(--border);
    z-index: 2;
    background: var(--background);
    user-select: none;
}

.dropdown__option {
    background-color: var(--dropdown-card);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    display: flex;
}

@media (any-pointer: fine) {
    .dropdown__option:hover {
        background: var(--dropdown-hover);
    }
    .dropdown__option, .dropdown__btn{
        cursor: pointer;
    }
}

.dropdown__option:active {
    background: var(--dropdown-hover);
}

@media (max-width: 600px){
    .dropdown{
        width: 10rem;
    }
}