header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Baskerville';
    font-size: 1em;
    color: var(--text-primary);
    padding: 10px 0px;
    box-shadow: 0.6px 2.5px 4px 0.01px rgba(0, 0, 0, 0.12);
    width: 100%;
}

.header__title {
   padding-left: 10%;
}
